ngb-pagination li {
  &:first-child a {
    span {
      display: none;
    }
    &:before {
      /* provide your content here */
    }
  }
}
.chart {
  margin: auto;
  width: 60%;
  padding: 10px;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
